<!-- begin _includes/seo.html -->
{% if site.url %}
  {% assign seo_url = site.url %}
{% endif %}

{% if page.title %}
  {% assign seo_title = page.title | normalize_whitespace | escape_once %}
{% else %}
  {% assign seo_title = site.title | append: " " | append: site.title_separator | append: " " | append: site.name %}
{% endif %}

{% if site.url %}
  {% assign canonical_url = page.url | replace: "index.html", "" | prepend: site.url %}
{% endif %}

<title>{{ seo_title }}</title>

{% assign seo_description = page.meta_description | default: site.description %}
{% if seo_description %}
  {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | normalize_whitespace | escape_once %}
{% endif %}

<meta name="description" content="{{ seo_description }}">
<meta property="og:description" content="{{ seo_description }}">
<meta property="og:locale" content="{{ site.active_lang | replace: "-", "_" | default: "en_US" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | escape_once }}">

{% if seo_url %}
  {% if site.active_lang == site.default_lang %}
    <link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
  {% else %}
    <link rel="canonical" href="{{ page.url | prepend: site.active_lang | prepend: "/" | prepend: seo_url | replace: "/index.html", "/" }}">
  {% endif %}
  <meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
{% endif %}

{% if site.data.social.twitter.username %}
  <meta name="twitter:site" content="@{{ site.data.social.twitter.username | replace: "@", "" }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title | escape_once }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:url" content="{{ canonical_url }}">
  <meta name="twitter:card" content="summary">

  {% if site.data.social.og_image %}
    <meta name="twitter:image" content="{{ site.data.social.og_image | absolute_url }}">
  {% endif %}
{% endif %}

{% if site.data.social.facebook %}
  {% if site.data.social.facebook.publisher %}
    <meta property="article:publisher" content="{{ site.data.social.facebook.publisher }}">
  {% endif %}

  {% if site.data.social.facebook.app_id %}
    <meta property="fb:app_id" content="{{ site.data.social.facebook.app_id }}">
  {% endif %}
{% endif %}

{% if site.data.social.og_image %}
  <meta property="og:image" content="{% if site.data.social.og_image contains "://" %}{{ site.data.social.og_image }}{% else %}{{ site.data.social.og_image | absolute_url }}{% endif %}">
{% endif %}

{% if page.date %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if site.data.social.og_image %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": {{ seo_url | jsonify }},
      "logo": {{ site.data.social.og_image | absolute_url | jsonify }}
    }
  </script>
{% endif %}

{% if site.social %}
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "{% if site.social.type %}{{ site.social.type }}{% else %}Person{% endif %}",
      "name" : "{{ site.social.name | default: site.name }}",
      "url" : {{ seo_url | jsonify }},
      "sameAs" : {{ site.social.links | jsonify }}
    }
  </script>
{% endif %}

<meta http-equiv="Content-Language" content="{{ site.active_lang }}">
<link rel="alternate" hreflang="{{ site.default_lang }}" href="{{ site.url }}{{ page.permalink }}">
{% for lang in site.languages %}
  {% unless lang == site.default_lang %}
    <link rel="alternate" hreflang="{{ lang }}" href="{{ site.url }}/{{ lang }}{{ page.permalink }}">
  {% endunless %}
{% endfor %}

{% if page.meta_tags.robots %}
  <meta name="robots" content="{{ page.meta_tags.robots }}">
{% endif %}
<!-- end _includes/seo.html -->
