// Navigation Elements
// ========================================================================== */

// Removes margins, padding, and bullet points from navigation lists
nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  // Override white-space for nested lists

  ol li,
  ul li {
    margin-bottom: 0;
  }

  li ol,
  li ul {
    margin-top: 0;
  }
}
